/* GLOBAL */

.container {
    width: 90%;
    margin: auto;
}
.myButton{
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: blue;
}

body{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

h1, p {
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

a{
    text-decoration: none;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-between{
    justify-content: space-between;
}

/* NAV */

.navigasi a{
    margin-right: 40px;
}

.navigasi{
    /* background: rgba(0, 0, 0, .2); */
    padding-top: 30px;
    padding-bottom: 30px;
}

/* HEADER */

.header{
    padding-top: 100px;
    padding-bottom: 100px;
}

.header h1{
    font-size: 65px;
    font-weight: 600;
}

.header p{
    line-height: 30px;
}

.header button{
    margin-top: 40px;
}

/* FOOTER */
.footer{
    background-image: url("../asssets/bgFooter.png");
    height: 363px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 135px;
  
    
}
.footer .title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    color:  #41474C;
}

.title .p1{
    font-size: 15px;
    line-height: 20px;
}
.footer .about{
    width: 210px;
    margin-bottom: 24px;
}
.footer .mapouter{
    position:relative;
    text-align:right;
    height:203px;
    width:203px;
}

.footer .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:203px;
    width:203px;
    border-radius: 4px;
}

.footer .content{
    margin-top: 70px;
}
.footer .poci{
    text-align: center;
    font-size: 18px;
    font-weight: 700px; 
    color: #6E6E6E;  
    margin-top: 100px;
}
.footer .line{
    line-height: 28px;
    color: #7A7E82;
}
.footer .line1{
    line-height: 28px;
    color: #7A7E82;
    margin-bottom: 10px;
}



    


