/* GLOBAL */
.container {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.myButton {
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: blue;
}

body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    margin-bottom: 2000px !important;
}

h1,
p,
h3 {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

a {
    text-decoration: none;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.hero {
    background-image: url("../asssets/bgAboutUs.jpg");
    height: 367px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero h1 {
    color: #fff;
    font-size: 70px;
}

.heroTitle {
    width: 100px;
    height: 10px;
    border-radius: 200px;
    background-color: #fff;
    margin: auto;
    margin-top: 20px !important;
}

/* NAV */

.navActive {
    color: #1568E4 !important;
    font-weight: bold;
}

.navigasi a {
    margin-right: 40px;
    color: #383838;
}

.navigasi {
    /* background: rgba(0, 0, 0, .2); */
    padding-top: 30px;
    padding-bottom: 30px;
}

/* HEADER */

.header {
    padding-top: 100px;
    padding-bottom: 100px;
}

.header h1 {
    font-size: 65px;
    font-weight: 600;
}

.header p {
    line-height: 30px;
}

.header button {
    margin-top: 40px;
}

/* about us */
.descAboutUs {
    padding-top: 70px;
}

.descAboutUs .subTitle {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.descAboutUs .desc {
    font-size: 16px;
    line-height: 35px;
}

/* Trainers */
.trainers {
    padding-top: 70px;
}

.trainers .cardTrainers {
    margin-bottom: 20px;
    padding: 26px;
    border: 1px;
    width: 340px;
    border-style: solid;
    border-color: #E0E0E0;
    border-radius: 4px;
}

.trainers .cardTrainerProfile {
    margin-bottom: 42px;
}

.trainers .subTitle {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.trainers .cardTrainerProfileTitle {
    margin-left: 16px;
}

.trainers .cardTrainerProfileTitle .name {
    font-size: 20px;
    font-weight: 700;
}

.trainers .cardTrainerProfileTitle .medal {
    font-size: 18px;
    font-weight: 500;
    color: #C3C3C3;
}

.trainers .cardTrainerInfo {
    margin-bottom: 40px;
}

.trainers .info .title {
    font-size: 16px;
    font-weight: 500;
}

.trainers .info .desc {
    font-size: 16px;
    font-weight: 600;
}

.trainers .btnDetails {
    padding: 14px 100px;
    width: 100%;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: blue;
    border-radius: 4px;
}


/* Galeries */
.galeries {
    padding-top: 70px;
}

.galeries .kegiatan {
    width: 295px;
    height: 295px;
}

.galeries .subTitle {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.galeries .card {
    margin-bottom: 20px;
}

/* INFO */

.info .content img {
    margin-right: 20px;
}

.info .content {
    border: solid 1px #E0E0E0;
    padding: 35px 50px;
    border-radius: 4px;
}

/* PROGRAMS */
.programs .cardz-wrapper p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
}

.programs {
    text-align: center;
    padding-top: 150px;
}

.programs h1 {
    font-size: 35px;
}

.programs .content {
    margin-bottom: 70px;
    justify-content: space-between;
}

.programs .content2 .cardz-wrapper {
    border-radius: 4px;
    padding: 40px 30px;
    width: 27%;
    border: solid 1px #E0E0E0;
}

.programs h3 {
    margin: 15px 0;
}

/* REASON */
.reason {
    padding-top: 150px;
}

.reason img {
    margin-right: 10px;
}

.reason .checklist {
    margin-top: 20px;
}

.reason h1 {
    font-size: 35px;
    margin-bottom: 40px;
}

.reason .checklistWrapper {
    margin-left: 100px;
}

/* MEMBER */

.members .content {
    text-align: center;
    margin-bottom: 70px;
}

.members {
    padding-top: 150px;
}

.members h1 {
    font-size: 35px !important;
    margin-bottom: 20px;
}

.members h3 {
    margin-top: 20px;
}

.members .checklist {
    margin-bottom: 15px;
}

.members .cardz-wrapper {
    border-radius: 4px;
    padding: 40px 50px;
    width: 23%;
    border: solid 1px #E0E0E0;
}

.members .checklist img {
    margin-right: 20px;
}

.members button {
    margin-top: 40px;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: blue;
}

.members .hr {
    height: 2px;
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 50%;
    background: #E0E0E0;
    text-align: center;
}

/* SUBSCRIBE */

.subscribe {
    margin-left: 20px;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 150px;
    /* background: #061c3e; */
    background-image: url('../asssets/imgSub.png');
    padding: 70px 0;
    text-align: center;
}

.subscribe h1 {
    color: white;
    font-size: 35px !important;
    margin-bottom: 20px;
}

.subscribe p {
    color: white;
}


.subscribe input {
    padding: 15px 40px 15px 20px;
}

.subscribe button {
    margin-top: 50px;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: #1568E4;
    font-size: 18px;
    font-weight: bold;
    background: rgb(244, 244, 244);
}