/* GLOBAL */

:root {
    --blue: #1568E4;
    --black: #383838;
    --gray: #d8d8d8;
    --bg: #03060E;
    --card: #050A18;
    --cardActive: rgba(255, 255, 255, 0.113);
    --stroke: #E0E0E0;
    --white: #ffffff;
}

.intro-banner {
    background: linear-gradient(-45deg, #01195b, #030e2d, #010615, #000103);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
    }
    
    @-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
    }
    
    @keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
    }

.color-black {
    color: var(--black);
}

.color-blue {
    color: var(--blue);
}

.color-gray {
    color: var(--bg);
}

.color-stroke {
    color: var(--stroke);
}

.text-center {
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.myButton {
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #162EFF;
    transition: .3s;
}

.myButton:hover {
    cursor: pointer;
    background: #fff;
    color: #1568E4;
    transition: .3s;
    transform: translateY(-5px);
}

body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

h1,
p,
h3 {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

a {
    text-decoration: none;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.hero {
    background-image: url("../asssets/bgAboutUs.jpg");
    height: 367px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero h1 {
    color: #fff;
    font-size: 70px;
}

.heroTitle {
    width: 100px;
    height: 10px;
    border-radius: 200px;
    background-color: #fff;
    margin: auto;
    margin-top: 20px !important;
}

/* NAV */

.navActive {
    color: #1568E4 !important;
    font-weight: bold;
}

.navigasi a {
    margin-right: 40px;
    color: #ffffff;
    transition: .3s;
}

.navigasi a:hover {
    color: var(--blue);
    transform: translateY(-5px);
    transition: .3s;
}

.navigasi {
    background: var(--bg);
    /* background: rgba(0, 0, 0, .2); */
    padding-top: 30px;
    padding-bottom: 30px;
}

/* HEADER */

.header {
    /* background: var(--bg); */
    padding-top: 100px;
    padding-bottom: 100px;
}

.header h1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.header span {
    color: var(--blue);
}

.header p {
    color: #d8d8d8;
    margin-top: 20px;
    line-height: 30px;
}

.header button {
    margin-top: 40px;
}

/* about us */
.descAboutUs {
    background: var(--bg);
    padding-top: 70px;
}

.descAboutUs .subTitle {
    /* color: var(--white); */
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.descAboutUs .desc {
    color: var(--gray);
    font-size: 16px;
    line-height: 35px;
}

/* Trainers */
.trainers {
    color: white;
    background: var(--bg);
    padding-top: 70px;
    padding-bottom: 70px;
}

.trainers .cardTrainers {
    margin-bottom: 30px;
    padding: 26px;
    width: 28%;
    border-radius: 4px;
    /* background: var(--cardActive); */
    background: rgba(255, 255, 255, 0.113);
    /* background: rgb(255, 255, 255); */
    /* color: white; */
}

.trainers .cardTrainerProfile {
    margin-bottom: 30px;
}

.trainers .subTitle {
    /* color: var(--white); */
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.trainers .cardTrainerProfileTitle {
    margin-left: 16px;
}

.trainers .cardTrainerProfileTitle .name {
    font-size: 20px;
    font-weight: 600;
}

.trainers .cardTrainerProfileTitle .medal {
    font-size: 18px;
    font-weight: 500;
    color: #C3C3C3;
}

.trainers .cardTrainerInfo {
    margin-bottom: 25px;
}

.trainers .cardInfo .title {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray) !important;
}

.trainers .cardInfo .desc {
    font-size: 16px;
    font-weight: 600;
}

.trainers .btnDetails {
    width: 100% !important;
}


/* Galeries */
.galeries {
    background: var(--bg);
    color: white;
}

.galeries .subTitle {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.galeries img{
    height: 50%;
}

.galeries .cardImageWrapper{
    background: rgba(255, 255, 255, 0.113);
    padding: 20px 20px;
    border-radius: 4px;
}



/* INFO */
.info {
    background: var(--bg);
}

.info p {
    color: var(--gray);
}

.info h3 {
    color: white;
}

.info .content img {
    margin-right: 20px;
}

.info .content {
    /* border: solid 1px #E0E0E0; */
    /* background: rgba(255, 255, 255, 0.156); */
    /* background: #050A18; */
    padding: 35px 50px;
    border-radius: 4px;
}

/* PROGRAMS */
.programs .cardz-wrapper p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
}

.programs .cardz-wrapper:hover {
    transition: .3s;
    cursor: pointer;
    background: #050A18;
    border-top: var(--blue) 10px solid !important;
}

.programs .content2 .cardz-wrapper {
    border-radius: 4px;
    padding: 40px 30px;
    width: 27%;
    border-top: #050A18 10px solid;
    transition: .3s;
}

.programs {
    background: var(--bg);
    text-align: center;
    padding-top: 150px;
    color: white;
}

.programs h1 {
    font-size: 35px;
}

.programs .content {
    margin-bottom: 70px;
    justify-content: space-between;
}

.programs h3 {
    color: white;
    margin: 15px 0;
}

.programs .descTitle {
    text-align: justify;
}

.programs p {
    color: var(--gray);
}

.programs a {
    color: var(--blue);
}

/* REASON */
.reason {
    background: var(--bg);
    padding-top: 150px;
}

.reason img {
    margin-right: 10px;
}

.reason .checklist {
    margin-top: 20px;
}

.reason h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 40px;
}

.reason p {
    color: var(--gray);
}

.reason .checklistWrapper {
    margin-left: 100px;
}

/* MEMBER */

.members .content {
    text-align: center;
    margin-bottom: 70px;
}

.members {
    background: var(--bg);
    padding-top: 150px;
    padding-bottom: 250px;
}

.members h1 {
    font-size: 35px !important;
    margin-bottom: 20px;
    color: white;
}

.members p {
    color: var(--gray);
}

.members h3 {
    margin-top: 20px;
    color: white;
}

.members .checklist {
    margin-bottom: 15px;
}

.members .cardz-wrapper {
    border-radius: 4px;
    padding: 40px 50px;
    width: 23%;
    transition: .3s;
}

.members .cardz-wrapper:hover {
    cursor: pointer;
    border-top: var(--blue) 10px solid !important;
    transition: .3s;
}

.members .checklist img {
    margin-right: 20px;
}

.members button {
    margin-top: 40px;
}

/* NUTRITION */

.Nutrion{
    background: var(--bg);
    padding-bottom: 70px;
}

.Nutrion img{
    /* padding: 10px; */
    width: 100%;
    padding-bottom: 0;
}

.Nutrion h3 {
    padding-top: 70px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.Nutrion .card{
    background: var(--cardActive);
    width: 22%;
    border-radius: 4px;
    padding: 10px;
    transition: .3s;
}

.Nutrion .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .3s;
    background: var(--card);
}

.Nutrion .cardBody{
    padding: 10px;
}

.Nutrion .card h4{
    margin-top: 0;
    font-size: 20px;
    color: white;
}

.Nutrion .card p{
    font-size: 16px;
    line-height: 30px;
    color: var(--gray);
    margin-bottom: 20px;
}

.Nutrion .card a{
    color: var(--blue);
    font-weight: 600;
}

.Nutrion .cardWrapper{
  margin-bottom: 30px;
}

 
/* Clasess */

.head{
    background-color: var(--card);
}

.head .container {
    /* height: 240px; */
    padding-top: 40px;
}

.head h1 {
    font-size: 45px;
    margin-bottom: 70px;
    color: white;
}

.head .nav-list a {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    border-bottom: var(--card) 5px solid;
    transition: .3s;
    color: var(--gray);
    font-weight: 400;
}

.head .nav-list a:hover {
    color: var(--blue);
    transition: .3s;
    border-bottom: var(--blue) 5px solid;
}

.navlistActive{
    border-bottom: var(--blue) 5px solid !important;
    color: var(--blue) !important;
    font-weight: bold !important;
}

/* Main */

.main-list {
    color: white;
    padding-top: 50px;
    background: var(--bg);
}

.main-list .container .card {
    background: var(--cardActive);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .3s;
}

.main-list .container .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: .3s;
    background: var(--card);
}

.main-list .card img {
    padding: 10px;
    padding-bottom: 0 !important;
    border-radius: 4px;
}


.main-list .paket{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.main-list .mentor{
    margin-top: 5px;
}

.main-list .jadwal{
    color: var(--gray);
    margin-top: 20px;
    margin-bottom: 2px;
}


.main-list .hari{
    margin-top: 0;
    margin-bottom: 20px;
}

.main-list .cardBody{
    padding: 20px;
}

/* End Clasess */

.members .hr {
    height: 2px;
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 50%;
    background: #E0E0E0;
    text-align: center;
}

/* SUBSCRIBE */

.subscribe {
    margin-top: -100px;
    border-radius: 4px;
    padding: 70px 0;
    /* background: #050A18; */
}

.subscribe h1 {
    color: white;
    font-size: 35px !important;
    margin-bottom: 20px;
    line-height: 60px;
}

.subscribe p {
    color: var(--gray);
}

.subscribe img {
    margin-right: 50px;
}


.subscribe input {
    padding: 15px 40px 15px 20px;
}

.subscribe button {
    margin-top: 30px;
}

/* Contact Us */
.contact{
    background: var(--bg);
}

.contact .content{
    width: 65%;
    margin-right: 20px;
}
.contact .content h3, .contact .content2 h3{
    font-size: 30px;
    color: white;
    margin-top: 70px;
    margin-bottom: 40px;
}
.contact .formWrapper{
    background: var(--card);
    padding: 40px;
}
.contact .formWrapper h4{
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.contact input{
    height: 48px;
    width: 345px;
    outline: var(--blue);
    border: none;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 4px;
}

.contact .content .inputWrapper{
    justify-content: space-between;
}

.contact .radio{
    background: var(--cardActive);
    padding: 15px 33px;
    border-radius: 4px;
}

.contact .radio p{
    color: white;
}

.contact .radioWrapper{
    display: flex;
    justify-content: space-between;
}

.contact .inputWrapper2, .contact .inputWrapper3{
    margin-top: 40px;
}

.contact .inputWrapper3 textarea{
    border-radius: 4px;
    padding: 15px;
    color: var(--black);
    font-size: 16px;
    border: none;
}

.contact .content2{
    width: 30%;
}

.contact .content2 p{
    margin-top: 4px;
    
}

.contact .content2 h4{
    margin-top: 0;
    margin-bottom: 4px;
    color: white;
}

.contact .content2 p{
    color: var(--gray);
}

.contact .content2 img{
    margin-right: 15px;
}

.contact .content2 .sosmedWrapper{
    margin-bottom: 30px;
}

.contact .kontakWrapper{
    background: var(--card);
    padding: 40px;
    padding-right: 0;
}

/* .contact .kontakcs{
    border: solid 1px #C3C3C3;
    padding: 40px;
    margin-top: 10px;
    width: 820px;
}

.contact input {
    width: 370px;
    height: 50px;
    background-color: #F5F5F5;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact .sub {
    background-color: #F5F5F5;
    padding: 13px 32px;
    margin-top: 10px;
    margin-bottom: 63px;
}

.contact textarea {
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

.contact .bold {
    font-weight: bold;
}

.contact judul2 {
    font-weight: bold;
}

.contact .email {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .content2 {
    margin-left: 20px;
    width: 400px;
    height: 442px;
}

.contact .content2 h4 {
    margin: 0px;

}

.contact .sosmed {
    border: solid 1px #C3C3C3;
    margin-top: 10px;
}

.contact .content2 img {
    margin-right: 15px;
}

.contact {
    margin-top: 70px;
} */

/* FOOTER */
.footer {
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
}

.footer .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--white);
}

.footer .line {
    font-size: 16px;
    line-height: 28px;
    color: var(--gray);
}

.footer p a {
    color: var(--gray);
}

.footer p a:hover {
    color: var(--blue);
}

.footer p{
    margin-top: 15px  !important;
}


.footer .about {
    width: 210px;
    margin-bottom: 24px;
}

.footer .mapouter {
    position: relative;
    text-align: right;
    height: 203px;
    width: 203px;
}

.footer .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 203px;
    width: 203px;
    border-radius: 4px;
}

.footer .content {
    margin-top: 70px;
}

.footer .poci {
    text-align: center;
    font-size: 16px;
    font-weight: 700px;
    color: #6E6E6E;
    margin-top: 150px !important;
}

.footer .logo{
    margin-top: 10px !important;
}